<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.zxing.client.android">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <application>
        <activity android:name=".CaptureActivity"/>
    </application>
</manifest>
